@import "tailwindcss";

@font-face {
  font-family: "PlusJakartaSans";
  src: url("../Fonts/PlusJakartaSans-Regular.ttf") format("truetype");
}

@theme {
  --font-jakarta: "PlusJakartaSans", sans-serif; 
}
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-33.333%); }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 30s linear infinite;
  }
}


body {
  background-color: white;
}

button,
a,
[role="button"],
[onclick],
input[type="submit"],
input[type="button"],
input[type="reset"],
select,
.clickable {
  cursor: pointer;
}


button:hover,
a:hover,
[role="button"]:hover {
  cursor: pointer;
}


button:disabled,
input:disabled,
select:disabled,
[disabled] {
  cursor: not-allowed;
}
